body {
  font-family: sans-serif;
  padding: 20px;
}
button:hover {
  background-color: lightblue;
}
.accordion-content {
  display: none;
  margin-top: 10px;
}
.valid {
  color: green;
}
.invalid {
  color: red;
}
